# Set the color palette for the prompt
palette = "catppuccin_mocha"

# Define the prompt format: directory, separator, and character
format = """  $directory$fill $all  $character"""

# Set the command timeout in milliseconds
command_timeout = 1000

[character]
# Character for success and error prompts
success_symbol = '[➜](bold green)'
error_symbol = '[✗](bold red)'

[fill]
# Separator symbol and style (used between the directory and the rest of the prompt)
symbol = "-"
style = "dimmed white"

[git_branch]
# Format for displaying the Git branch, showing the branch and remote branch
format =  '[$symbol$branch(:$remote_branch)]($style) '

# Define the colors for the Catppuccin Mocha palette
[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
